﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    
    var homePage = CurrentPage.AncestorsOrSelf(1).First();

    var menuItems = CurrentPage.Site().Children("Banner"); 
int i=0;
}
	  <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
		                
		                    @foreach (var item in menuItems)
        {
			i++;
			 <div  class="@(i==1 ? "item active" : "item")"  style="background-image: url(@item.BannerBackground)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">@item.BannerHeader</h1>
                                    <h2 class="animation animated-item-2">@item.BannerSubheader</h2>
                                    <a class="btn-slide animation animated-item-3" href="@item.BannerButtonLink">@item.BannerButtonText</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="@item.BannerImage" class="img-responsive">
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->
										
		}
 </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->
		            
				