﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
var featurePage =CurrentPage.Site().Children("Features").First();
    var menuItems = CurrentPage.Site().Children("FeaturesList"); 
int i=0;
}
	
	 <section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>@featurePage.Title</h2>
                <p class="lead">@featurePage.Description</p>
            </div>

            <div class="row">
                <div class="features">	                
		 @foreach (var item in menuItems)
        {
			i++;
			 <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-@item.iconclassname"></i>
                            <h2>@item.Featuretitle</h2>
                            <h3>@item.Description</h3>
                        </div>
                    </div>
		}
  </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#feature-->