﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	@{
    
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
var partnerPage =CurrentPage.Site().Children("Partner").First();
    var menuItems = CurrentPage.Site().Children("PartnerDetails"); 
int i=0;
}
<ul>
                          
				 @foreach (var item in menuItems)
        {
		
                 <li><a href="#">@item.PartnerName</a></li>
						}
						</ul>
         