﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
  <div class="container">
<div class="row">
<div class="col-sm-8">
@Html.Action("MyAccount", "Account")

<img src="/images/under_construction.jpg" />
</div>
<div class="col-sm-4">
<a href="@Url.Action("MemberLogout", "Account")">Logout</a>
</div>
</div>
</div>